<header>
  <div class="navbar navbar-light bg-light">
    
  <div class="navbar-brand align-item-center d-flex">
    <i style="font-size: 20px;" class="fas fa-shipping-fast">&nbsp;</i>
    <strong style="font-size: 16px; color: blue; "><a href="#" routerLink="/" class="logo">Angular<br>Spree</a></strong>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Find Good Furniture for me">
    </div>
    <span class="fas fa-search search-icon"></span>
    
      
       
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn" id="dropdownBasic1" ngbDropdownToggle>
                24/7 help
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button style="text-align: center" ngbDropdownItem>Get help from our Experts 24/7 <br>88880258</button>
                <button style="text-align: center" ngbDropdownItem><a href="javascript:void(0);"routerLink="/contact-page">Contact Us</a></button>
                
              </div>
            </div>
          </div>
         
          <div class="col2">
            <div style="border: none" ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn" id="dropdownBasic1" ngbDropdownToggle>
               Login/Signup
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><a href="javascript:void(0);"routerLink="/login-page">Login</a> </button>
                <button ngbDropdownItem><a href="javascript:void(0);"routerLink="/sign-up">Sign UP</a></button>
              
              </div>
            </div>
          
        </div>
      </div>
  </div>
<div class="cart">
  <button type="button"   class="btn btn"><a href="javascript:void(0);"routerLink="/cart-page">
    <i style="font-size:20px" class="fa-solid fa-cart-shopping"></i>
    <small style="font-size: 15px">Cart</small>
    <div style="font-size: 10px" class="badge bg-danger">0</div>
  </a>
  </button>
</div>
  </div>
</header>
  




































































































































<!-- 
<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Food Mine!</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/cart-page">Cart</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->
