<div >
  <form class="register-form" action="" >
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-uppercase">Name</label>

      <input type="text" class="form-control" name="name" required >
    
   </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-uppercase">Email</label>

      <input type="text"  class="form-control" name="email" required >
     
   </div>
   <div class="form-group">
      <label for="exampleInputPhonenumber" class="text-uppercase">Phone Number</label>
      <input  class="form-control" type="number"  name="phonenumber" id="" required >
      
   </div>
  
    <div class="form-group">
       <label for="exampleInputMessage" class="text-uppercase">Message</label>
       <input  class="form-control" type="text"  name="message" id="" >
      
    </div>
    

   <div class="form-group">
    <button><a href="javascript:void(0);">Send</a></button>
   </div>


   </form>
<div class="details">
  <p>Free Shipping Over Rs.500 <br>
  Safe & Trusted Payments  <br>
  Cash on Delivery Available <br>
  Buy Now,Pay Later Available <br>
  Easy Returns <br>
  Shipping All Over India</p>
</div>
  
 
</div>
